.red{
    height: 50px;
    background-color: red
}
.green{
    height: 50px;
    background-color: green
}
.div1{
    height: 200px;
    background-color: #080
}
.div2{
    height: 750px;
    background-color: #F00
}
.div3{
    height: 100px;
    background-color: yellow
}
.div4{
    height: 100px;
    background-color: aqua
}
.div5{
    height: 150px;
    background-color: blue
}
.div6{
    height: 150px;
    background-color: #333
}
.div7{
    height: 500px;
    background-color: #ccc
}
.div8{
    height: 500px;
    background-color: #AAA
}
.div9{
    height: 100px;
    background-color: #333
}