.someDiv1{
    float: left;
    background-color: red;
    width: 65%;
    height: 200px
}
.someDiv2{
    float: left;
    background-color: blue;
    width: 20%;
    height: 200px
}
.someDiv3{
    float: left;
    background-color: green;
    width: 10%;
    height: 200px
}
.subDiv1{
    float: left;
    background-color: aqua;
    width: 50%;
    height: 200px
}
