.container{
    width: 200px;
    height: 200px;
    position: relative
}


.front, .back{
    width: 200px;
    height: 200px;
    position: absolute;
    font-size: 4rem;
    color: wheat;
    line-height: 150px;
    text-align: center;
    backface-visibility: hidden;
    transition-property: transform;
    transition-duration: 2s
}
.front{
    background-color: red;
    z-index: 9999
}
.back{
    /* left: 250px; */
    background-color: blue;
    transform: rotateY(180deg);
}
.container:hover > .front{
    transform: rotateY(180deg);
}
.container:hover > .back{
    transform: rotateY(0deg)
}