*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.row{
    margin-left: 5rem;
    margin-right: 5rem
}
.col-6{
    float: left;
    width: 50%;
    position: relative;
    padding: 1rem
}
.col-6 > img{
    width: 20vw;
    position: absolute;
    transition: all 1s;
    box-shadow: 30px 12px 43px #666
}
.col-6 > img:nth-child(3){
    left: 6vw;
    top: 18vh
}
.col-6 > img:nth-child(2){
    left: 15vw;
    top: 7vh
}
.col-6 > img:hover{
    z-index: 3;
    transform: scale(1.3);
    outline: 1rem solid #55c57a;
    outline-offset: 1rem;
    box-shadow: 30px 12px 43px #666

}
.row > h1{
    font-size: 3rem;
    color: #080;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    transition: all .5s

}
.col-6 > h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 2rem
}
.col-6 > p{
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
    text-align: justify;
    line-height: 2rem
}
.row > h1:hover{
    text-shadow: 15px 15px 25px #000047 ;
    transform: skew(3deg, 3deg)
}
.col-6 > a{
    text-decoration: none;
    font-size: 1.3rem;
    border-bottom:1px solid #080;
    padding: .5rem;
    color: #080
}
.col-6 > a:hover{
 background-color: rgb(183, 243, 183)
}


@media (max-width:796px) {
    .col-6{
        width: 100%
    }
    .row{
        margin: 0
    }
    .row > h1{
        margin-bottom: 0
    }
    .col-6 > img{
        width: 80vw;
    position: static;
    margin-left: 10vw;
    transition: all .5s;
    box-shadow: 30px 12px 43px #666

    }
    .col-6 > img:hover{
        z-index: 3;
        transform: scale(1.05);
        outline: 1rem solid #55c57a;
        outline-offset: .5rem;
        box-shadow: 15px 15px 25px #666;
        margin-bottom: 6rem;
        margin-top: 6rem
    
    }
}
