.pagehead{
    color: rgba(255, 0, 0, .5);
    background-color: rgba(0, 0, 255, .5);
    text-align: center;
    text-transform: uppercase; /* capitalize, lowercase*/
    letter-spacing: 5px;
    text-shadow: 5px 5px 10px black;
    /*writing-mode: vertical-lr*/
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 63%, 0% 100%);
}
.pagehead + p{
    text-align: justify;
    text-indent: 50px;
    letter-spacing: 3px;
    word-spacing: 20px;
    line-height: 30px;
    direction: ltr; /*rtl*/
    font-size: 2vw;
}