*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
.container{
    display: grid;
    padding: 10px;
    /*height: 100vh;*/
    grid-gap: 10px;
    /*grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% auto;*/
    background-color: wheat
}
.panner{
    grid-column: 1/13;
    background-image: linear-gradient(yellow, red);
    height: 20vh
}
.header{
    grid-column: 1/13;
    height: 20vh;
    background-image: linear-gradient(blue, black);
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-evenly;
    grid-gap: 10px;
    grid-template-rows: 50%;
    align-content: center
}
.header > .item{
    background-image: linear-gradient(black, white);
}
.sidebar{
    grid-column: 1/4;
    background-image: radial-gradient(blue, red);
    height: 50vh
}
.content{
    grid-column: 4/13;
    height: 50vh;
    background-image: repeating-linear-gradient(red, yellow, blue, aqua)
}
.footer{
    grid-column: 1/13;
    background-image: linear-gradient(yellow, red);
    height:20vh
}
@media(max-width:767px){
    .header{
        height: 700px;
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 200px;
    }
    .sidebar{
        grid-column: 1/13
    }
    .content{
        grid-column: 1/13
    }
}
/*@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}*/
/*@media print{ ..... for printers
    .panner{
        display: none
    }
}*/
