/*a[target]{
    color: red
}*/
.togglebox:checked{
    outline: 2px solid red
}
/*div:last-of-type{
    border: 1px solid #333;
    display: none;
  }
  input[type=checkbox]:first-of-type:checked ~ div{
    display: block;
}*/
.togglebox:not(:checked) + div{
    display: none
}