%borderStyle{
    border: 2px solid #333;
    box-shadow: 5px 5px 10px #999;

}

.container{
    font-size: 50px;
    @extend %borderStyle;

    p{
        letter-spacing: 10px;
    }
    >h3{
        text-decoration: underline;
        &:hover{
            text-shadow: 5px 5px 3px #666;
        }
    }
}
.container1{
    @extend %borderStyle;
    
}